:root {
  --href-color: midnightblue;
}

body {
  font-family: 'Bookman', 'Bookman Old Style', 'Garamond', serif;
  font-size: 30px;
  background-color: snow;
  border-top: 20px ridge beige;
  border-bottom: 20px ridge beige;
  border-left: 60px ridge beige;
  border-right: 60px ridge beige;
  padding-bottom: 40px;
}

body > * {
  margin: 20px 20px;
}

@media only screen and (min-device-width 480px) {
  body {
    font-size: 20px;
  }

  body > * {
    margin: 20px 20%;
  }

  pre {
    font-size: 20px
  }
}

h1 {
  text-align: center;
  margin-top: 40px;
}

a {
  color: var(--href-color, blue);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h1 > a:hover {
  color: var(--href-color, blue);
  text-decoration: underline;
}

h1:after {
  content: ' #';
  color: var(--href-color, blue);
  visibility: hidden;
}

h1:hover:after {
  visibility: visible;
  opacity: 0.5;
}

h4 {
  text-align: center;
  font-style: italic;
  font-size: small;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 40px;
}

h4::before, h4::after {
  content: ' ~ '
}

h5::before {
  content: '- ';
}

p {
  text-indent: 2em;
  line-height: 1.5;
}

p::last::after {
  content: ' &em;TR';
}

pre {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: floralwhite; 
  padding: 20px 0 20px 10px;
  border: dotted 3px black;
}

footer {
  text-align: center;
  opacity: 0.7;
  margin: 40px;
}

footer > * {
  margin: 0 20px;
}

figure {
  margin-top: 40px;
  margin-bottom: 40px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
  margin-top: 10px;
}

img {
  width: 90%;
  border-top: 20px groove black;
  border-bottom: 20px groove black;
  border-left: 40px groove black;
  border-right: 40px groove black;
}
