:root {
  --href-color: midnightblue;
  --border-style: ridge beige;
  --img-border-style: groove black;
  --font: 'Bookman', 'Bookman Old Style', 'Garamond';
  --background: snow;
  --pre-background: floralwhite; 
}

body {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--font, serif)
  font-size: large;
  background-color: var(--background, white);
  border-top: 10px var(--border-style);  
  border-bottom: 10px var(--border-style);  
  border-left: 20px var(--border-style);  
  border-right: 20px var(--border-style);  

}

img {
  width: 90%;
  border-top: 5px var(--img-border-style);  
  border-bottom: 5px var(--img-border-style);  
  border-left: 10px var(--img-border-style);  
  border-right: 10px var(--img-border-style);  
}

main {
  margin: 0 10px;
}

pre {
  background-color: var(--pre-background);
  padding: 5px 2px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

figcaption {
  font-style: italic;
  font-size: normal;
}

a {
  color: var(--href-color, blue);
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h1 > a:hover {
  color: var(--href-color, blue);
  text-decoration: underline;
}

h1:after {
  content: ' #';
  color: var(--href-color, blue);
  visibility: hidden;
}

h1:hover:after {
  visibility: visible;
  opacity: 0.5;
}

h4 {
  text-align: center;
  font-style: italic;
  font-size: normal;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 40px;
}

h4::before, h4::after {
  content: ' ~ '
}

h5::before {
  content: '- ';
}

footer {
  display: flex;
  justify-content: center;
}

#home {
  margin-left: 20px;
}

@media all and (min-width: 768px) {
  body {
    border-top: 20px var(--border-style);  
    border-bottom: 20px var(--border-style);  
    border-left: 40px var(--border-style);  
    border-right: 40px var(--border-style);  
  }

  main {
    margin: 0 20%;
  }
}

